{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/categories.css' %}"> {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card" style="width: 18rem;">
                <div class="image">
                    <img src="{{ category.image.url }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <a href="{% url 'products' category.id %}" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation example page_nav">
        <ul class="pagination" style="justify-content: center;">
            <li class="page-item">
                <a class="page-link"
                   href="{% if page_obj.has_previous %}
                    {% url 'category_paginator' page_obj.previous_page_number %}
                    {% else %}
                     #
                     {% endif %}">
                    Previous
                </a>
            </li>
            {% for page in paginator.page_range %}
            <li class="page-item">
                <a class="page-link" href="{% url 'category_paginator' page %}">
                    {{ page }}
                </a>
            </li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link"
                   href="{% if page_obj.has_next %}
                    {% url 'category_paginator' page_obj.next_page_number %}
                    {% else %}
                     #
                     {% endif %}">
                    Next
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>
</div>
{% endblock %}