{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}"> {% endblock %}
{% block content %}
<div class="container">
    <div class="category_name">
        <h1>{{ category.name }}</h1>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card" style="width: 18rem;">
                <div class="image">
                    <img src="{{ product.image.url }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <a href="{% url 'add_product' product.id %}" class="btn btn-primary">В корзину</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% if is_paginated %}
    <nav aria-label="Page navigation example page_nav">
        <ul class="pagination" style="justify-content: center;">
            <li class="page-item">
                <a class="page-link"
                    href="{% if page_obj.has_previous %}
                    ?category_id={{ category.id }}&page={{ page_obj.previous_page_number }} {% endif %}">
                    Previous
                </a>
            </li>
            {% for page in paginator.page_range %}
            <li class="page-item">
                <a class="page-link" href="?category_id={{ category.id }}&page={{ page }}">
                    {{ page }}
                </a>
            </li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link"
                    href="{% if page_obj.has_next %}
                    ?category_id={{ category.id }}&page={{ page_obj.next_page_number }} {% endif %}">
                    Next
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}